body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*
Add some style blocks below this line to style the cards.
Feel free to borrow from Exercise 1.
*/
section {
    margin: 10px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    padding-bottom: 10px;
}

img {
    width: 100%;
}

h2, p, button {
    margin-right: 20px;
    margin-left: 20px;
}

main {
    display: flex;
}


/* Tablet Media Query */
@media only screen and (max-width: 1000px) {
    main {
        flex-wrap: wrap;
    }

    section {
        width: calc(50% - 20px);
        /* fit 2, so use 50%, but in order to account for 20px margins on left and right, each section
        needs to be subtracted by 20px to add the 40px total */
    }
}

/* Mobile Phone Media Query */
@media only screen and (max-width: 600px) {
    section {
        width: 100%;
    }    
}